<section class="auth-page">
  <div class="auth-card">
    <h1 class="auth-card__title">Регистрация</h1>

    <form class="auth-form" id="register-form">
      {{{emailField}}}
      {{{phoneField}}}
      {{{passwordField}}}
      {{{repeatPasswordField}}}

      <div class="auth-form-not-input">
        {{{submitButton}}}
        {{{loginLinkButton}}}

        <div class="auth-divider">
          <span>или</span>
        </div>

        <button type="button" class="social-button social-button--vk" disabled aria-disabled="true" title="Скоро будет доступно">
          <span class="social-button__icon" aria-hidden="true">
            <img src="./assets/images/VK_logo_Blue_40x40.svg" alt="" />
          </span>
          <span class="social-button__label">VK ID</span>
        </button>

        <button type="button" class="social-button social-button--yandex" disabled aria-disabled="true" title="Скоро будет доступно">
          <span class="social-button__icon" aria-hidden="true">
            <svg viewBox="0 0 24 24" role="img" focusable="false"><path d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z" fill="#FC3F1D"></path><path d="M13.6 6.8H12.5C10.45 6.8 9.4 7.85 9.4 9.35C9.4 11.05 10.15 11.85 11.65 12.9L12.9 13.75L9.3 19.15H6.6L9.85 14.35C8 13 6.95 11.7 6.95 9.55C6.95 6.8 8.85 4.95 12.5 4.95H16.1V19.2H13.6V6.8V6.8Z" fill="white"></path></svg>
          </span>
          <span class="social-button__label">Яндекс ID</span>
        </button>
      </div>
    </form>
  </div>
</section>

