<section class="campaigns-page">
  <div class="campaigns-page__toolbar">
    <button class="campaigns-page__create-button" type="button">
      Создать объявление
    </button>

    <div class="campaigns-page__filters">
      <div class="campaigns-page__filter">Все объявления</div>
      <div class="campaigns-page__filter">Фильтры</div>
      <div class="campaigns-page__search">Поиск объявлений</div>
    </div>
  </div>

  {{#if loadError}}
    <div class="campaigns-page__message campaigns-page__message--error">
      Не удалось загрузить объявления: {{loadError}}
    </div>
  {{/if}}

  {{#if hasCampaigns}}
    <div class="campaigns-table">
      <div class="campaigns-table__header">
        <div>Название</div>
        <div>Цена</div>
        <div>Описание</div>
        <div>Создано</div>
        <div>Действие</div>
        <div>Статус</div>
        <div>Вкл/выкл</div>
      </div>

      <div class="campaigns-table__body">
        {{#each campaigns}}
          <div class="campaign-row">
            <div class="campaign-row__name">{{title}}</div>
            <div>{{budget}}</div>
            <div>{{goal}}</div>
            <div>{{lastActionDate}}</div>

            <div class="campaign-row__actions">
            <button type="button" class="campaign-row__action-group">
              <span class="campaign-row__action-half campaign-row__action-half--edit" aria-label="Редактировать">
                <svg viewBox="0 0 24 24" class="campaign-row__action-icon campaign-row__action-icon--edit">
                  <path d="M4 19.25V16.5L14.6 5.9a1.5 1.5 0 0 1 2.12 0l1.38 1.38a1.5 1.5 0 0 1 0 2.12L7.5 20H4.75A.75.75 0 0 1 4 19.25Zm2.06-.75h1.13l9.85-9.85-1.13-1.13L6.06 17.37v1.13ZM4 6.75A2.75 2.75 0 0 1 6.75 4H10a.75.75 0 0 1 0 1.5H6.75c-.69 0-1.25.56-1.25 1.25V17a.75.75 0 0 1-1.5 0V6.75ZM14 20a.75.75 0 0 1 0-1.5h3.25c.69 0 1.25-.56 1.25-1.25V14a.75.75 0 0 1 1.5 0v3.25A2.75 2.75 0 0 1 17.25 20H14Z"/>
                </svg>
              </span>

              <span class="campaign-row__action-divider"></span>

              <span class="campaign-row__action-half campaign-row__action-half--delete" aria-label="Удалить">
                <svg viewBox="0 0 24 24" class="campaign-row__action-icon campaign-row__action-icon--delete">
                  <path d="M9 3.75A1.75 1.75 0 0 1 10.75 2h2.5A1.75 1.75 0 0 1 15 3.75V4h3.25a.75.75 0 0 1 0 1.5h-.77l-.63 12.03A2 2 0 0 1 14.85 19.5H9.15a2 2 0 0 1-2-1.97L6.52 5.5h-.77a.75.75 0 0 1 0-1.5H9v-.25Zm1.5.25h3v-.25a.25.25 0 0 0-.25-.25h-2.5a.25.25 0 0 0-.25.25V4Zm-1.85 14h6.7a.5.5 0 0 0 .5-.48L16.47 5.5H7.53l.62 12.02a.5.5 0 0 0 .5.48ZM10 8.75a.75.75 0 0 1 1.5 0v5.5a.75.75 0 0 1-1.5 0v-5.5Zm2.5 0a.75.75 0 0 1 1.5 0v5.5a.75.75 0 0 1-1.5 0v-5.5Z"/>
                </svg>
              </span>
            </button>
          </div>

            <div>
              <span class="status-badge status-badge--{{statusType}}">
                {{status}}
              </span>
            </div>

            <div>
              <label class="toggle">
                <input
                  type="checkbox"
                  {{#if enabled}}checked{{/if}}
                />
                <span class="toggle__slider"></span>
              </label>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{else}}
    <div class="campaigns-page__message">
      Объявлений пока нет
    </div>
  {{/if}}
</section>