{{#if href}}
  <a href="{{href}}" class="ui-button ui-button--{{variant}} {{className}}">
    {{text}}
  </a>
{{else}}
  <button type="{{type}}" class="ui-button ui-button--{{variant}} {{className}}">
    {{text}}
  </button>
{{/if}}