<header class="navbar">
  <div class="navbar__left">
    <a href="#/" class="navbar__brand">
      <img
        src="./assets/images/logo.png"
        alt="Логотип ЭшкеРеклама"
        class="navbar__logo"
      />

      <div class="navbar__brand-text">
        <span class="navbar__title">ЭшкеРеклама</span>
        <span class="navbar__subtitle">by Эшкере.</span>
      </div>
    </a>

    <nav class="navbar__nav">
      <a href="#/" class="navbar__link">Акции</a>
      <a href="#/" class="navbar__link">Возможности</a>
      <a href="#/" class="navbar__link">Услуги</a>
      <a href="#/" class="navbar__link">Тарифы</a>
    </nav>
  </div>

  <div class="navbar__actions">
    {{#if isAuthenticated}}
      <div class="navbar__actions-user">
        <div class="navbar__balance">{{user.balance}} ₽</div>
        <button class="navbar__actions-user-icon" type="button">▢</button>
        <button class="navbar__actions-user-icon" type="button">🔔</button>
        <img class="navbar__avatar"  src="{{user.avatar}}" alt="{{user.name}}" />
        {{!-- <div class="navbar__avata">
          <img src="{{user.avatar}}" alt="{{user.name}}" />
        </div> --}}
      </div>
    {{else}}
      <a
        href="#/login"
        class="navbar__button navbar__button--ghost {{#if isLogin}}is-active{{/if}}"
      >
        Вход
      </a>

      <a
        href="#/register"
        class="navbar__button navbar__button--primary {{#if isRegister}}is-active{{/if}}"
      >
        Регистрация
      </a>
    {{/if}}
  </div>
</header>